{% extends 'base.html' %}

{% block content %}
    <p id = 'appm'>
        <table class='center'>
            <tr>
                {% for el in options %}

                    <td id = '{{ el }}'>
                    {{ el }}:
                        <select id='выбор_{{ el }}' onchange="s_view({{ el }})">
                            {% for option in options[el] %}
                            <option id='{{ option }}'>
                                {{ option }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                {% endfor %}
            </tr>
        </table>

        <h1>
            it's here
        </h1>
        <p id='paint' style='visibility: hidden;'>
            <img src="{{ url_for('plot_png') }}">
        </p>
    </p>
    {% block script %}
        <script src="{{ url_for('static', filename='script/main.js') }}">
            //
        </script>
    {% endblock %}
{% endblock %}