<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
<!--         <meta http-equiv="X_UA_Compatible" content="IE-edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
        <title>
            {{ title }}
        </title>
        <style>
            .container{
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100vh;
                background-color: #E2D8F8;
                color: black;
                text-align: center;
            }
        </style>
    </head>
    <body class = 'container'>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>